* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin: 0;
    height: 100vh;
    background-color: #222831;
}

header {
    font-weight: 600;
    text-align: start;
    font-size: 40px;
    color: seashell;
    
    height: 50px;
}

header > img {
    float: left;
    width: 3vw;
    height: auto;
    margin: 2vw;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ECECEC;
}

footer {
    -webkit-user-select: text; /* overwrites body allowing copy and paste */
    text-align: center;
    color: rgba(236, 236, 236, 0.5);
    background-color: #222831;

    position: fixed;
    width: 100vw;
    bottom: -15px;
}

.git {
    color: #ececec;
    text-decoration: none;
}