main {
    text-align: center;
    clear: both;
    height: 70vh;
}

h1 {
    position: relative;
    top: 30vh;
    font-size: 3em;
}

a {
    color: #ECECEC;
    text-decoration: none;
}

a:hover {
    color: #5c6b83;
}